{% load static %}
<header>
    <a href='{% url "home" %}'>Home</a>
    <a href='{% url "logout" %}?next=/loggedout/'>Logout</a>
</header>
{% block head %}<link rel="stylesheet" href="{% static "public/base.css" %}">{% endblock %}
{% block content %}<body></body>{% endblock %}
{% block script %}{% endblock %}
<footer>
<a href='{% url "cust_index" %}'>Your clients</a>
<a href='{% url "serv_index" %}'>Your services</a>
<a href='{% url "add" %}'>Add service or client</a>
</footer>
