{% extends 'public/base.html' %}

{% block content %}

<div id='form-container'>

</div>

<button id="1">Add customer</button>
<button id="2">Add service</button>
{% if messages %}
    <ul id='messages'>
        {% for msg in messages %}
        <li class='{{msg.tags}}'>{{msg}}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}


{% block script %}
<script type="text/javascript">

var form1 = function() {
    var x = `
        <form method="post" action="{% url 'add_cust' %}">
        {% csrf_token %}
        <ul>
        {{cust_form.as_ul|escapejs}}
        </ul>
        <input type="submit" value="Submit!">
        </form>`;
    
    if ( document.getElementById('messages'))
        document.getElementById('messages').innerHTML = '';
    
    document.getElementById('form-container').innerHTML = x; 
};

var form2 = function() {
    var x = `
        <form method="post" action="{% url 'add_serv' %}">
        {% csrf_token %}
        <ul>
        {{serv_form.as_ul|escapejs}}
        </ul>
        <input type="submit" value="Submit!">
        </form>`;
    
    if ( document.getElementById('messages'))
        document.getElementById('messages').innerHTML = '';
    
    document.getElementById('form-container').innerHTML = x;
};
document.getElementById('1').onclick = form1;
document.getElementById('2').onclick = form2;
</script>
{% endblock %}
