{% extends 'public/base.html' %}
{% load static %}

{% block content %}
{% if cl %}
    <ul>
        {% for c in cl %}
        <li>{{c.lname}}, {{c.fname}}: {{c.pk}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>nothing here</p>
{% endif %}
{% endblock %}
