{% extends 'public/base.html' %}
{% load static %}

{% block content %}
<p>Welcome to station 3's data entry page. Please <a href='{% url "login" %}?next={{request.path}}'>login.</a></p>
{% endblock %}
