{% extends 'public/base.html' %}
{% load static %}

{% block content %}
{% if sl %}
    <ul>
        {% for s in sl %}
        <li>{{s.service_type}}: {{s.customer.lname}}, {{s.serv_start}} - {{s.serv_end}}: {{s.billable_hrs}} <a href='{% url "serv_detail" pk=s.pk%}'>Details</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>nothing here</p>
{% endif %}
{% endblock %}
